

#title {
    background-color: #ff4c68;
}

#phone {
    transform: rotate(25deg);
    width: 25%;
    position: absolute;
}
@media (max-width: 1028px) {
    
    #phone{
        position: static;
        transform: rotate(0deg);
        width: 60%;
     }
    
     h1{
        text-align: center;
     }
}

.navbar-brand {
    color: white;
    font-family: "Ubuntu";
    font-weight: 600;
}

.nav-link {
    color: white;
}

.container-fluid {
    padding: 3% 15%;
}

.navbar {
    padding-bottom: 4.5rem;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-family: "Montserrat-Light";
    font-size: 1.2rem;
}

.downloadbtn {
    margin: 5% 3% 5% 0;
}

.bi-check-circle {
    font-size: 5rem;
    color: #ef8172;
}

.bi-bullseye {
    font-size: 5rem;
    color: #ef8172;
}

.bi-heart-fill {
    font-size: 5rem;
    color: #ef8172;
}

.bi-bullseye:hover {
    color: #ff4c68;
}

.bi-check-circle:hover {
    color: #ff4c68;
}

.bi-heart-fill:hover {
    color: #ff4c68;
}

.featurebox {
    text-align: center;
    padding: 5%;

}

#features {
    padding: 7% 15%;
    background-color: #fff;
    position: relative;
}

#testimonials {
    padding: 7% 15%;
    background-color: #ef8172;
    text-align: center;
    color: #fff;
}

.dog-img {
    border-radius: 100%;
    margin: 10px;
    width: 15%;
}

#press {
    padding: 3% 3%;
    background-color: #ef8172;
    text-align: center;
}

.pressimg {
    width: 15%;
    margin-left: 10px;
    margin-right: 10px;
}

.carousel-control-prev {
    padding-right: 12%;
}

.carousel-control-next {
    padding-left: 12%;
}

/* Pricing */
#pricing {
    padding: 3% 15%;
    text-align: center;
}

#cta {
    padding: 5% 15%;
    text-align: center;
    background-color: #ff4c68;
}
#footer{
    padding: 3% 15% 0% 15%;
    text-align: center;
}
.description{
    font-size: 3rem;
}
.card-group{
    padding: 3%;
}
.ctatext{
    font-size: 3rem;
    line-height: 1.5;
    color: white;
    width: 80%;
    margin: auto;
}
.icon{
    padding: 5% 1% 0% 1%;
}

h1 {
    font-size: 3.5rem;
    line-height: 1.5;
    color: white;

}

body {
    font-family: 'Montserrat', sans-serif;
}

p {
    color: #8f8f8f;
}

h3 {
    font-family: "Montserrat";
    font-size: 1.5rem;
}

h2 {
    padding: 5%;
    line-height: 1.5;
    width: 90%;
    margin: auto;
}
     
